<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Gossip garden</title>
        <link rel="stylesheet" href="/css/site.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto&display=fallback" rel="stylesheet">
    </head>
    <body>
        <header>
            <a href="/" class="link--home">Gossip garden</a>
            <a href="/About" class="link--about">About</a>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>&copy;  Eupheng Vue</footer>
    </body>
</html>
<script data-goatcounter="https://vuee.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>